* {
    transition: background 0.5s;
}

body {
    background-color: #232323;
}

h1 {
    color: #f0f8ff;
    border-radius: 10px;
}

.square {
    float: left;
    padding-top: 30%;
    margin: 1.4%;
    background: #800080;
    width: 30%;
    border: 1px solid #f5f5f5;
    border-radius: 10%;
}

#container {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #f5f5f5;
    border-radius: 9%;
    padding-bottom: 5px;
    padding-top: 3px;
    transition: height .5s ease;
    overflow  : hidden;
}

#container:not(.active) {
    display: none;
}

#TargetColor {
    margin-left: 1.6%;
    margin-right: 1.6%;
    border: 1px solid #f5f5f5;
}

#title {
    margin-left: 1.6%;
    margin-right: 1.6%;
    margin-top: 5%;
    border: 1px solid #f5f5f5;
}

button {
    color: #f5f5f5;
    background: #232323;
    border: 1px solid #f5f5f5;
    border-radius: 7px;
    outline: none;
}

button:hover {
    color: #add8e6
}

button:active {
    background: #f5f5f5;
}